.settings
.project
.idea/*
as3-wooga-utils.iml
*tempViewerHTML.html
bin/main/*.swc
bin/main/*.zip
bin/test/*.swf
docs/*
example/bin/*.zip
example/bin/*.swf
script/user.properties

out/test/as3-wooga-utils/_flexunit.swf
