.settings
.project
*tempViewerHTML.html
bin/main/*.swc
bin/main/*.swf
bin/main/*.zip
bin/test/*.swf
src/dummy
docs/*
example/bin/*.zip
example/bin/*.swf
script/user.properties

out/test/as3-wooga-utils/_flexunit.swf

.idea/workspace.xml
